body{background-color: rgb(3, 9, 40);}
h1{color:snow;}
h1{text-align: center;}
#imag1 {width: 500px;}
h2{color:snow}
h2{text-align: center;}
#imag2 {width: 500px;}
h3{color:snow}
h3{text-align: center;}
#imag3 {width: 500px;}
h4{color:snow}
h4{text-align: center;}
#imag4 {width: 500px;}
h5{color:snow}
h5{text-align: center;}
#imag5 {width: 500px;}